{% extends 'Author_base.html' %}
    <!-- Menu -->

    
    {% block isi %}        
    <div class="container isi">
        <div class="row justify-content-center">
            <div class="col-8">
                <img class="gambarblog" src="https://i.postimg.cc/FK2YMSd0/profile-pic2.jpg" alt="">
                <h3><strong>Mbak-Mbak Django</strong></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusantium nulla provident explicabo id quia rerum? Ex nisi, suscipit reprehenderit quo obcaecati voluptas quaerat delectus molestias dolorum, nemo tenetur ullam.
                </p>
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <table>
                    <tr>
                        <td>Alamat</td>
                        <td class="geser">: Malang</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td class="geser">: 0855-5555-5555</td>
                    </tr>
                    <tr>
                        <td>Education</td>
                        <td class="geser">: S7</td>
                    </tr>
                    <tr>
                        <td>Profession</td>
                        <td class="geser">: Nguli code</td>
                    </tr>
                    <tr>
                        <td>Nasionality</td>
                        <td class="geser">: Indo</td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td class="geser">: Kepo deh!</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="geser">: wafer_tango@admin.kom</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="geser">: di Suatu tempat</td>
                    </tr>
                </table>
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19004.160198465128!2d-2.2908949616000815!3d53.459165765683615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bade198f6a2ab%3A0xa06b7a1e162e18f9!2sOld+Trafford%2C+Stretford%2C+Manchester%2C+Britania+Raya!5e0!3m2!1sid!2sid!4v1563896930696!5m2!1sid!2sid" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% endblock isi %}
