{% extends 'Home_base.html' %}


{% block isi %}
    
<!-- Menu -->
    <div class="container isi">
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="https://i.postimg.cc/m2tgpQQg/benefit.png" alt="">
            </div>
            <div class="col-6">
                <h5>Learn awesome tech</h5>
                <p>You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.</p>
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="https://i.postimg.cc/L40HPnrK/search-job.png" alt="">
            </div>
            <div class="col-6">
                <h5>Land new job</h5>
                <p>if you can pass this awesome program, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.</p>
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png" alt="">
            </div>
            <div class="col-6">
                <h5>Get paid to learn</h5>
                <p>Join for free and earn some money. Yes you read that right. No registration fee required to enter this program. Even better, you will receive pocket money just for participating. Cool, right? </p>
            </div> 
        </div>
        <div class="row justify-content-center whoarewe">
            <div class="col-4">
                <img src="https://i.postimg.cc/Pq4H5xm7/mission.png" alt="">
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Who are we?</h4>
                    <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</p>
                </div>
                <div class="row ourmission">
                    <h4>What is our mission?</h4>
                    <p>We want  to improve capability Tech Talent in Indonesia </p>
                </div>
            </div> 
        </div>
    </div>

<!-- What will you learn -->

    <div class="container learn">
        <div class="row">
            <div class="col text-center">
                <h5>What will you learn?</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png" alt="">
            </div>
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/c424prmM/learn-programming.png" alt="">
            </div>
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/vBYQr9YM/learn-git.png" alt="">
            </div>
            <div class="col-2 text-center border ">
                <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png" alt="">
            </div>   
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png" alt="">
            </div>
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/c4p0DPxF/learn-server.png" alt="">
            </div>
            <div class="col-2 text-center border">
                <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png" alt="">
            </div>            
        </div>
    </div>


    {% endblock isi %}