{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Mentee.css' %}">
</head>
<body>

<!-- Heade MENU -->
    <nav class="menuheader sticky-top navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="https://academy.alphatech.id/">Alpha Tech Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mentor">Mentor</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mentee">Mentee</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/author" tabindex="-1" aria-disabled="true">Author</a>
            </li>
            </ul>
        </div>
        </nav>

<!-- Header LOGO -->

        <div class="container-fluid header">
            <div class="row justify-content-center">
                <div class="col-2 text-center gambaralpha">
                    <img src="https://i.postimg.cc/mrRR4MFM/alpha-logo.png" alt="">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <h1>Alpha Tech Academy</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <p> 
                    Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months. Contact Person: Email : academy@alphatech.id Mobile phone: 0877 9609 9530
                    </p>    
                </div>
            </div>
        </div>


{% block isi %}
    
{% endblock isi %}
    


<!-- Footer -->
    <div class="container-fluid ourproduct">
        <div class="row justify-content-center">
            <div class="col-7 text-center">
                <p>
                   <strong>Our Product:</strong> <img src="https://i.postimg.cc/XY93txX4/logo-grey-alphapay.png" alt="">
                    <img src="https://i.postimg.cc/9fjXfKsD/logo-grey-sepulsa.png" alt="">
                    <img src="https://i.postimg.cc/gJ2WXWs2/logo-grey-alphabill.png" alt="">
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid contactperson">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <p>
                    <strong>Contact Person:</strong> Mobile phone: 0877 9609 9530 Email : <span>academy@alphatech.id</span> 
                </p>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>