/* header menu */

.menuheader ul{
    padding-right: 20px;
}

/* header */
.header{
    padding-top: 40px;
    padding-bottom: 20px; 
    background-color: #2ec6ce;
}
.header p{
    text-align: center;
    color: white;
    font-size: 25px;
}
.header h1{
    color : white;
    font-size: 71px;
}
.gambaralpha img{
    width: 100%;
}

/* isi */
.ourmentee{
    margin-top: 40px;
    text-align: center;
}
.isi h3{
    color: #94929a;
}
.menumentee{
    padding: 20px 0px;
}
.menumentee img{
    height: 100%;
}

/* What will you learn */

.mapel td{
    margin: 20px;
}

/* footer */

.ourproduct{
    background-color: #2ec6ce;
    font-size: 25px;
    margin-top: 90px;
}
.ourproduct p{
    padding-top: 20px;
}
.contactperson{
    font-size: 20px;
    background-color: black;
    color: white;
}

.contactperson p{
    padding-top: 15px;
}

.contactperson span{
    color: blue;
    padding: 10px 0px;
}